* {
  box-sizing: border-box;
  margin: 0;
}

button {
  display: block;
  margin-bottom: 0.5rem;
}

.non-bullet {
  list-style-type: none;
}

.margin {
  margin: 0.8rem 1rem;
  list-style-type: none;
  background-color: rgb(240, 233, 233);
  max-width: 35%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 10px;
  font-family: monospace;
}

.visible {
  display: block; 
}

.hide {
  display: none;
}
