* {
  box-sizing: border-box;
  margin: 0;
}

button {
  display: block;
  margin-bottom: 0.5rem;
}

.non-bullet {
  list-style-type: none;
}

.margin {
  margin: 0.8rem 0;
  list-style-type: none;
  border: 1px black solid;
  max-width: 40%;
}