* {
  box-sizing: border-box;
  margin: 0;
}

button {
  display: block;
  margin-bottom: 0.5rem;
}

.non-bullet {
  list-style-type: none;
}

.show-content {
  display: block;
}

.hide-content {
  display: none;
}
