* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --ff--chakra: Chakra Petch, sans-serif;
  --ff-raleway: Raleway, sans-serif;
}

body {
  background: linear-gradient(
    166deg,
    rgba(6, 24, 90, 0.98) 39%,
    rgba(125, 26, 147, 1) 80%,
    rgba(229, 43, 43, 1) 100%
  );
  height: 100vh;
}

body,
.activitiesToDo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header,
.activitiesToDo {
  font-family: var(--ff--chakra);
  font-weight: lighter;
}

.header {
  margin: 6rem 0 3rem 0;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.header p {
  display: inline-block;
  animation: flip 2500ms linear infinite;
}

.header p:nth-child(1) {
  animation-delay: 100ms;
}
.header p:nth-child(2) {
  animation-delay: 200ms;
}
.header p:nth-child(3) {
  animation-delay: 300ms;
}
.header p:nth-child(4) {
  animation-delay: 400ms;
}
.header p:nth-child(5) {
  animation-delay: 500ms;
}
.header p:nth-child(6) {
  animation-delay: 600ms;
}
.header p:nth-child(7) {
  animation-delay: 700ms;
}
.header p:nth-child(8) {
  animation-delay: 800ms;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.header::before {
  content: '\201C';
  color: red;
}

.header::after {
  content: '\201D';
  color: red;
}

#intro-text {
  position: absolute;
  width: 60%;
  height: 50%;
  color: white;
}

#intro-text h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0 2rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 2.8rem;
  font-family: 'Anton', sans-serif;
  font-weight: 200;
  color: rgb(173, 40, 40);
}

.container {
  /* max-width: 60%; */
  width: 50%;
  background: rgba(255, 255, 255, 0.32);
  height: 40vh;
  border-radius: 10px;
  box-shadow: 10px 8px 6px rgb(20, 19, 41);
  position: relative;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.activitiesToDo {
  width: 100%;
  border: 2px solid black;
  overflow-wrap: break-word;
  list-style: none;
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  inset: 0 0 0 0;
  padding: 4rem;
}

.activitiesToDo > * {
  line-height: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#link a {
  font-size: 0.9rem;
  color: white;
  background: rgb(189, 56, 100);
  width: 6rem;
  height: 1.9rem;
  display: inline-block;
  border-radius: 10px 0px 10px 0px;
  text-decoration: none;
  border-style: solid;
  border-width: 0px 3px;
  border-color: rgb(69, 33, 105);
  margin-top: 1rem;
}

#btn-bored {
  height: 2.8rem;
  width: 7rem;
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(235, 235, 224);
  transition: background-color 300ms ease-out;
  border-radius: 5px;
  box-shadow: 5px 6px 2px rgb(57, 9, 62);
}

#btn-bored:hover {
  background-color: rgb(28, 18, 63);
  transition: background-color 500ms ease-out;
  color: white;
}

@media screen and (max-width: 360px) {
  .header p {
    font-size: 1.9rem;
  }

  #intro-text {
    margin-top: 3rem;
  }

  #intro-text h3 > p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .container {
    width: 80%;
    height: 35vh;
  }

  .activitiesToDo > * {
    font-size: 1rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .header {
    font-size: 2.5rem;
  }

  #intro-text {
    margin-bottom: 3rem;
  }
  #intro-text h3 p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .container {
    width: 80%;
    height: 40vh;
  }

  .activitiesToDo > * {
    font-size: 1.2rem;
  }
}
